*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
}

h1 > img
{
	width: 100%
}

form, section
{
	margin: 2em;
}

input, button
{
	font: inherit;
	padding: 0.2em 0.4em;
}

input[type=submit], button
{
	outline: none;
	cursor: pointer;

	height: 1.75em;
	border-style: solid;
	border-radius: 0.25em;
	background-color: #EEE;
}

button
{
	width: 100%;
	max-width: 20em;
	display: block;
	margin-bottom: 1em;
}

.imglist
{
	height: 7em;
	width: 100%;
	overflow: hidden;
}

.imglist > img
{
	height: 7em;
}

.fish:not(:last-child)
{
	margin-bottom: 2em;
}
