*
{
	margin: 0;
	padding: 0;
}

body
{
	padding: 2em;
	font-family: sans-serif;
}

section
{
	margin-bottom: 2em;
}

input
{
	font: inherit;
	padding: 0.2em 0.4em;
}

.button
{
	cursor: pointer;
	text-decoration: underline;
}
